# Dependencias
node_modules/
**/node_modules/

# Build
dist/
build/
.next/
out/

# Ambiente
.env
**/.env
!.env.example
!**/.env.example

# Logs
*.log
npm-debug.log*

# Sistema
.DS_Store
**/.DS_Store

# Editor
.vscode/
.idea/
